# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
env.bak/
env1/
env2/
.python-version

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
lib/
libs/
dist/
build/
egg-info/
pip-wheel-metadata/

.pytest_cache/
.ruff_cache/
.venv/
.coverage
htmlcov/